.cards {
  padding-top: 51px;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 17px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 880px) {
  .cards {
    max-width: 580px;
    margin: 0 auto;
    grid-template-columns:repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .cards {
    max-width: 282px;
    padding-top: 36px;
    grid-template-columns:repeat(1, 1fr);
  }
}