.footer__signature {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 880px) {
  .footer__signature {
    padding-left: 29px;
  }
}

@media screen and (max-width: 320px) {
  .footer__signature {
    padding-left: 19px;
    font-size: 14px;
    line-height: 17px;
  }
}